.flowboard-head {
    left: 30%;
    right: 30%;
    top: 30%;
    z-index: 1;
}

.flowboard-head {
    display: flex;
    justify-content: center;
}

.flowboard-head {
    background-color: lightgrey;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    border: 1px solid #000;
}

.flowboard-head * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}