.modal-card-default {
    width: 50%;
    height: 98%;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .modal-card-default {
        width: 100%;
    }
}

.cloud-balloon {
    display: flex;
    z-index: 1;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 60%;
    max-width: 60%;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.modal-flex {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: calc((1vh + 1vw) / 2);
}

.cloud-balloon > div{
    background-color: white;
    padding: 2%;
    overflow-y: auto;
    white-space:pre-wrap
}

.cloud-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-285px) translateY(-42px) rotate(89deg);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f9f9f9;
}

.cloud-content {
    font-size: 14px;
    color: #333;
}

.zIndex99 {
    background-color: #0000006e;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0px !important;
}


.border-online {
    border: 2px solid rgb(0, 234, 0);
}

.border-offline {
    border: 2px solid red;
}

.cardUser {
    width: 6%;
    overflow: hidden;
    transition: all ease-in 1s;
}

.cardUser:hover {
    width: 300px;
}

.boxListCheck {
    top: 0%;
    left: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-height: 25%;
    height: auto;
    max-height: 75%;
    min-width: 25%;
    width: auto;
    max-width: 75%;
}


@media screen and (max-width: 768px) {
    .cardUser {
        width: 20%;
    }

    .cardUser:hover {
        width: 100%;
    }
}

.box-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    z-index: 1;
}

.expandFullScreen {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 100% !important;
    padding: 2%;
    animation: expandToTop 1s ease-in-out forwards;
}

@keyframes expandToTop {
    0% {
        top: 38.5%;
    }

}

@media screen and (max-width: 768px) {
    .position-box-users {
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.bg-list-user {
    background: #b9c8d3;

    .holver-effect:hover {
        transition: all ease-in-out .5s;

        & > label {
            color: white !important;
        }
    }

    .holver-effect:hover,
    .bg-selected
    {
        background-color: #2f444ea9 !important;        
        & > label {
            color: white !important;
        }
    }
    
}

.list-user-task {
    left: 100%;
    margin-left: 1rem;
    width: 40% !important;
    height: 70% !important;
    top: 28%;
    
    & > div:first-child {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    & > div:last-child {
        height: 90% !important;
        overflow: auto;
    }

}

@media screen and (max-width: 1180px) {
    .list-user-task {
        left: 0%;
        z-index: 1;
        margin-left: 1rem;
        width: 95% !important;
        height: 80% !important;
        top: 15%;
        
        & > div:first-child {
            display: flex;
            align-items: center;
            justify-content: end;
        }

        & > div:last-child {
            height: 90% !important;
            overflow: auto;
        }
    }   
}

.userPhotoAnimation {
    transition: all ease .5s;
}

.userPhotoAnimation:hover {
    transition: all ease .5s;
    transform: scale(1.2);

    & > i {
        color: #919191 !important;
    }
}

.border-mark {
    border: 4px solid #b9c8d3 !important;
}

@media screen and (max-width: 330px) {
    .modal-btn {
        flex-direction: column !important;
        gap: 1rem;
    }
}